.task-block {
  background: $secondary-color;
  border: .1rem solid $primary-color;
  border-radius: .5rem;
  display: grid;
  margin-bottom: 0.5rem;
  max-width: 400px;
  max-height: 10rem;
  width: 60vw;
  justify-self: center;
  transition: 0.2s linear 0s;
  margin-left: 10px;

  &__header {
    padding: .2rem;
    height: 100%;
  }

  &__content {
    padding: .2rem;
    max-height: 10rem;
    transition: 0.5s linear 0s;
    overflow: hidden;
    border-top: .1rem solid $primary-color;

    &_minimized {
      max-height: 0;
      border-top: 0 solid $primary-color;
    }
  }

  &:hover {
    background: $secondary-color;
    box-shadow: 5px 5px 5px rgba($primary-color, 0.5);
    transform: translateX(-10px);
  }
}